<section class="container-layout">
  <h2 class="container-layout__title">Listagem de Currículos</h2>

  <article class="container-curriculum" *ngFor="let curriculum of resumesList">
    <h3>Dados Pessoais</h3>

    <div class="container-curriculum__wrapper">
      <p>
        <span class="container-curriculum__span">Nome completo:</span>
        {{ curriculum.firstName }}
        {{ curriculum.lastName }}
      </p>
      <p>
        <span class="container-curriculum__span">Data de Nascimento:</span>
        {{ curriculum.birthDate }}
      </p>
      <p>
        <span class="container-curriculum__span">Gênero:</span>
        {{ curriculum.gender | genderTranslation }}
      </p>
      <p>
        <span class="container-curriculum__span">CPF:</span>
        {{ curriculum.cpf }}
      </p>
    </div>

    <div class="container-curriculum__wrapper">
      <p>
        <span class="container-curriculum__span">Telefone: </span>
        {{ curriculum.phone }}
      </p>
      <p>
        <span class="container-curriculum__span"> E-mail:</span>
        {{ curriculum.email }}
      </p>
    </div>

    <div>
      <h3>Endereço</h3>

      <div class="container-curriculum__wrapper">
        <p>
          <span class="container-curriculum__span"> Logradouro:</span>
          {{ curriculum.address.logradouro }}
        </p>
        <p>
          <span class="container-curriculum__span">Número:</span>
          {{ curriculum.address.numero }}
        </p>
        <p>
          <span class="container-curriculum__span">Complemento:</span>
          {{ curriculum.address.complemento }}
        </p>
        <p>
          <span class="container-curriculum__span">Bairro: </span>
          {{ curriculum.address.bairro }}
        </p>
        <p>
          <span class="container-curriculum__span"> Cidade:</span>
          {{ curriculum.address.localidade }}
        </p>
        <p>
          <span class="container-curriculum__span">UF: </span>
          {{ curriculum.address.uf }}
        </p>
        <p>
          <span class="container-curriculum__span"> CEP:</span>
          {{ curriculum.address.cep }}
        </p>
      </div>
    </div>

    <div>
      <h3>Experiência profissional</h3>

      <div class="container-curriculum__wrapper">
        <p>{{ curriculum.experiences }}</p>
      </div>
    </div>

    <div class="container-buttons">
      <button class="btn btn--edit" (click)="onEditResume(curriculum.id)">
        Editar
      </button>
      <button class="btn btn--delete" (click)="onRemoveResume(curriculum.id)">
        Remover
      </button>
      <button class="btn btn--export" (click)="exportCurriculum(curriculum.id)">
        Exportar
      </button>
    </div>

    <span class="line"></span>
  </article>
</section>
