<section class="container-layout">
  <h2>Curriculos</h2>

  <article *ngFor="let curriculum of resumesList">
    <h3>Dados Pessoais</h3>
    <div>
      <p>Nome: {{ curriculum.firstName }}</p>
      <p>Sobrenome: {{ curriculum.lastName }}</p>
      <p>Data de Nascimento: {{ curriculum.birthDate }}</p>
      <p>Gênero: {{ curriculum.gender }}</p>
      <p>Telefone: {{ curriculum.phone }}</p>
      <p>Email: {{ curriculum.email }}</p>
      <p>CPF: {{ curriculum.cpf }}</p>
    </div>

    <div>
      <h3>Endereço</h3>
      <p>Cep: {{ curriculum.address.cep }}</p>
      <p>Logradouro:{{ curriculum.address.logradouro }}</p>
      <p>Numero: {{ curriculum.address.numero }}</p>
      <p>Complemento: {{ curriculum.address.complemento }}</p>
      <p>Bairro: {{ curriculum.address.bairro }}</p>
      <p>Cidade: {{ curriculum.address.localidade }}</p>
      <p>Estado: {{ curriculum.address.uf }}</p>
    </div>

    <div>
      <h3>Experiencias</h3>
      <p>Expericais: {{ curriculum.experiences }}</p>
    </div>

    <div>
      <button (click)="onEditResume(curriculum.id)">Editar</button>
      <button (click)="onRemoveResume(curriculum.id)">Remover</button>
      <button (click)="exportCurriculum(curriculum.id)">Exportar</button>
    </div>
  </article>
</section>
