<section class="container-register container-layout">
  <div class="wrapper-header">
    <h2 class="wrapper-header__title">{{ titleForm }}</h2>
    <p class="wrapper-header__info">
      <span class="span-required">*</span>
      Campos obrigatórios
    </p>
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h3 class="form-title">Informações Pessoais</h3>

    <section class="form-user">
      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="firstName" class="form-label">Nome</label>
      </div>

      <input
        type="text"
        formControlName="firstName"
        id="firstName"
        name="firstName"
        class="form-input form-input--big"
        [appFieldError]="this.registrationForm.get('firstName')!"
        [class.form-input--error]="this.registrationForm.get('firstName')!"
        [class.form-input--success]="this.registrationForm.get('firstName')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('firstName')!"
      ></app-validation-errors>

      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="lastName" class="form-label">Sobrenome</label>
      </div>

      <input
        type="text"
        formControlName="lastName"
        id="lastName"
        name="lastName"
        class="form-input form-input--big"
        [appFieldError]="this.registrationForm.get('lastName')!"
        [class.form-input--error]="this.registrationForm.get('lastName')!"
        [class.form-input--success]="this.registrationForm.get('lastName')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('lastName')!"
      ></app-validation-errors>
    </section>

    <section class="form-user">
      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="birthDate" class="form-label">Data de nascimento</label>
      </div>

      <input
        type="text"
        name="birthDate"
        id="birthDate"
        placeholder="__/__/____"
        formControlName="birthDate"
        mask="00/00/0000"
        class="form-input form-input--medium"
        [appFieldError]="this.registrationForm.get('birthDate')!"
        [class.form-input--error]="this.registrationForm.get('birthDate')!"
        [class.form-input--success]="this.registrationForm.get('birthDate')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('birthDate')!"
      ></app-validation-errors>

      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="phone" class="form-label">Telefone</label>
      </div>

      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="(__) _____-____"
        formControlName="phone"
        mask="(00) 0 0000-0000"
        class="form-input form-input--medium"
        [appFieldError]="this.registrationForm.get('phone')!"
        [class.form-input--error]="this.registrationForm.get('phone')!"
        [class.form-input--success]="this.registrationForm.get('phone')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('phone')!"
      ></app-validation-errors>

      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="gender" class="form-label">Gênero</label>
      </div>

      <select
        name="gender"
        id="gender"
        class="form-input form-input--medium"
        formControlName="gender"
        [appFieldError]="this.registrationForm.get('gender')!"
        [class.form-input--error]="this.registrationForm.get('gender')!"
        [class.form-input--success]="this.registrationForm.get('gender')!"
      >
        <option value="" disabled>Gênero</option>
        <option value="feminine">Feminino</option>
        <option value="masculine">Masculino</option>
        <option value="not-inform">Não informar</option>
      </select>

      <app-validation-errors
        [control]="this.registrationForm.get('gender')!"
      ></app-validation-errors>
    </section>

    <section class="form-user">
      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="cpf" class="form-label">CPF</label>
      </div>

      <input
        type="text"
        name="cpf"
        id="cpf"
        placeholder="___.___.___-__"
        formControlName="cpf"
        mask="000.000.000-00"
        class="form-input form-input--big"
        [appFieldError]="this.registrationForm.get('cpf')!"
        [class.form-input--error]="this.registrationForm.get('cpf')!"
        [class.form-input--success]="this.registrationForm.get('cpf')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('cpf')!"
      ></app-validation-errors>
    </section>

    <section class="form-user">
      <div class="form-user__wrapper">
        <span class="span-required">*</span>
        <label for="email" class="form-label">E-mail</label>
      </div>

      <input
        type="email"
        formControlName="email"
        id="email"
        name="email"
        class="form-input form-input--big"
        [appFieldError]="this.registrationForm.get('email')!"
        [class.form-input--error]="this.registrationForm.get('email')!"
        [class.form-input--success]="this.registrationForm.get('email')!"
      />

      <app-validation-errors
        [control]="this.registrationForm.get('email')!"
      ></app-validation-errors>
    </section>

    <section formGroupName="address">
      <div>
        <h3 class="form-title">Endereço</h3>

        <section class="form-user">
          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="zip" class="form-label">CEP</label>
          </div>

          <input
            type="text"
            formControlName="cep"
            id="zip"
            name="zip"
            placeholder="_____-___"
            mask="00000-000"
            class="form-input form-input--medium"
            (blur)="onChangeAddress()"
            [appFieldError]="this.registrationForm.get('address.cep')!"
            [class.form-input--error]="
              this.registrationForm.get('address.cep')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.cep')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.cep')!"
          ></app-validation-errors>
        </section>
      </div>

      <section>
        <section class="form-user">
          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="street" class="form-label"> Logradouro </label>
          </div>

          <input
            type="text"
            id="street"
            name="street"
            formControlName="logradouro"
            class="form-input form-input--big"
            [appFieldError]="this.registrationForm.get('address.logradouro')!"
            [class.form-input--error]="
              this.registrationForm.get('address.logradouro')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.logradouro')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.logradouro')!"
          ></app-validation-errors>

          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="complement" class="form-label">Complemento</label>
          </div>

          <input
            type="text"
            id="complement"
            name="complement"
            formControlName="complemento"
            class="form-input form-input--big"
            [appFieldError]="this.registrationForm.get('address.complemento')!"
            [class.form-input--error]="
              this.registrationForm.get('address.complemento')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.complemento')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.complemento')!"
          ></app-validation-errors>
        </section>

        <section class="form-user">
          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="neighborhood" class="form-label">Bairro</label>
          </div>

          <input
            type="text"
            id="neighborhood"
            name="neighborhood"
            formControlName="bairro"
            class="form-input form-input--big"
            [appFieldError]="this.registrationForm.get('address.bairro')!"
            [class.form-input--error]="
              this.registrationForm.get('address.bairro')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.bairro')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.bairro')!"
          ></app-validation-errors>

          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="number" class="form-label">Número</label>
          </div>

          <input
            type="text"
            id="number"
            name="number"
            formControlName="numero"
            class="form-input form-input--medium"
            [appFieldError]="this.registrationForm.get('address.numero')!"
            [class.form-input--error]="
              this.registrationForm.get('address.numero')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.numero')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.bairro')!"
          ></app-validation-errors>
        </section>

        <section class="form-user">
          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="city" class="form-label">Cidade</label>
          </div>
          <input
            type="text"
            id="city"
            name="city"
            formControlName="localidade"
            class="form-input form-input--big"
            [appFieldError]="this.registrationForm.get('address.localidade')!"
            [class.form-input--error]="
              this.registrationForm.get('address.localidade')!
            "
            [class.form-input--success]="
              this.registrationForm.get('address.localidade')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.localidade')!"
          ></app-validation-errors>

          <div class="form-user__wrapper">
            <span class="span-required">*</span>
            <label for="state" class="form-label">Estado</label>
          </div>

          <input
            type="text"
            id="state"
            name="state"
            formControlName="uf"
            placeholder="Ex: SP"
            class="form-input form-input--medium"
            [appFieldError]="this.registrationForm.get('address.uf')!"
            [class.form-input--error]="this.registrationForm.get('address.uf')!"
            [class.form-input--success]="
              this.registrationForm.get('address.uf')!
            "
          />

          <app-validation-errors
            [control]="this.registrationForm.get('address.uf')!"
          ></app-validation-errors>
        </section>
      </section>
    </section>

    <section>
      <h3 class="form-title">Experiências</h3>

      <section class="form-user">
        <div class="form-user__wrapper">
          <span class="span-required">*</span>
          <label for="experiences" class="form-label">Experiência</label>
        </div>

        <textarea
          name="experiences"
          id="experiences"
          formControlName="experiences"
          class="form-input form-input--extra-big"
          [appFieldError]="this.registrationForm.get('experiences')!"
          [class.form-input--error]="this.registrationForm.get('experiences')!"
          [class.form-input--success]="
            this.registrationForm.get('experiences')!
          "
        >
        </textarea>

        <app-validation-errors
          [control]="this.registrationForm.get('experiences')!"
        ></app-validation-errors>
      </section>
    </section>

    <button
      type="submit"
      class="btn btn--valid btn--disabled"
      [disabled]="!registrationForm.valid"
      (click)="onEdit()"
    >
      {{ btnText }}
    </button>
  </form>
</section>
