<header class="header">
  <div class="container-layout header__container">
    <h1 class="header__title">
      <a [routerLink]="['/register']"> Curriculum Express</a>
    </h1>

    <nav>
      <ul class="navbar-menu">
        <li class="navbar-menu__item">
          <a [routerLink]="['/register']" class="navbar-menu__link">Cadastro</a>
        </li>
        <li class="navbar-menu__item">
          <a [routerLink]="['/resumes']" class="navbar-menu__link"
            >Currículos</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
