*,
*::before,
*::after {
  box-sizing: border-box;
  outline-offset: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

.container-layout {
  margin: 0 auto;
  max-width: 90%;
}

.form-input:invalid,
.form-input--error {
  border: 1px solid rgb(240, 0, 16);

  &:focus {
    outline: 1px solid rgb(240, 0, 16);
  }
}

.form-input--success {
  border: 1px solid rgb(0, 204, 102);

  &:focus {
    outline: 1px solid rgb(0, 204, 102);
  }
}
